.main-footer {
  background: $almost-black;
  border-bottom: 5px solid $gray-darker;
  border-top: 1px solid $gray-darker;
  font-size: 12px;
  padding-bottom: 40px;
  position: relative;

  .folow-me {
    background: $gray-darker;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    width: 150px;
  }

  .back-to-top {
    background: $gray-darker;
    bottom: -5px;
    color: $color-text;
    display: block;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin-left: -15px;
    outline: none;
    position: absolute;
    text-align: center;
    text-decoration: none;

    width: 30px;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  p {
    position: relative;
  }

  &::before {
    background: rgba($black, .05);
    bottom: 0;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    width: 50%;
  }
}

.social-links {
  margin-bottom: 10px;
  padding: 0;

  a {
    @include transition(background .8s ease 0s);
    background: $gray-darkest;
    color: $white;
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30px;

    i {
      position: relative;
    }

    &:hover {
      background: $white;
      color: $black;
    }
  }
}
