.main-header {
  height: 600px;
  position: relative;

  .header-content-fixed {
    background: url('../images/main-header.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 0;

    &::before {
      $a: top 1s ease .3s, background 1s ease 0s;
      @include transition($a);
      background: rgba($white, .4);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 50%;
    }

    &::after {
      $a: bottom 1s ease .3s, background 1s ease 0s;
      @include transition($a);
      background: rgba($white, .3);
      bottom: 0;
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      width: 50%;
      }

    @media (max-width: $res-tab) {
      position: relative;
    }
  }

  &:hover {
    .header-content-fixed {

      &::before {
        background: rgba($white, .9);
      }

      &::after {
        background: rgba($white, .8);
      }
    }
  }

  .whoim {
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 3;
  }

  .name {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 10px;

    margin-bottom: 20px;
    position: relative;
    z-index: 3;

    @media (max-width: $nav-res) {
      font-size: 3em;
    }
  }

  .job {
    border-bottom: 1px solid $black;
    display: inline-block;
    letter-spacing: 4px;
    padding: 10px;
    position: relative;
    z-index: 3;

  }
}

.menu-area {
  @include transition(background .8s ease 0s);
  background: rgba($white, .3);
  border-bottom: 1px solid $gray-light;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;

  .toogle-bars {
    display: none;

    a {
      color: $black;
      text-decoration: none;

      .ic-open {
        display: none;
        visibility: hidden;
      }

      .ic-close {
        display: inline;
        visibility: visible;
      }

      &.collapsed {
        .ic-open {
          display: inline;
          visibility: visible;
        }

        .ic-close {
          display: none;
          visibility: hidden;
        }
      }
    }
  }

  .main-nav {
    background: transparent;
    margin: 0;
    visibility: visible;

    >li {
      display: inline;

      >a {
        @include transition;
        color: $almost-black;
        font-size: 12px;
        font-weight: 700;
        outline: none;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $black;
          outline: none;
        }
      }

      +li::before {
        color: $almost-black;
      }

      &.active {
        >a {
          color: $black;
        }
      }
    }

    &.nav {
      >li {
        >a {
          display: inline-block;
          padding: 0;

          &:hover,
          &:focus {
            background: transparent;
          }
        }
      }
    }

    &.no-space {
      >li {
        +li::before {
          content: '';
        }
      }
    }
  }

  @mixin nav-white() {
    border-bottom: 1px solid $gray-light;
    background: $white;

    .main-nav {
      >li {
        >a {
          color: $color-text;

          &:hover {
            color: $black;
          }
        }

        &.active {
          >a {
            color: $black;
          }
        }

        +li::before {
          color: $gray-light;
        }
      }
    }
  }

  &.nav-white-bg {
    @include nav-white;
  }


  &.nav-fixed {
    background: $white;
    border-bottom: 1px solid $gray-light;
    bottom: inherit;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  @media (min-width: $nav-res) {
    .menu-collapse.collapse {
      display: block;
      height: auto;
    }
  }

  @media (max-width: $nav-res) {
    @include nav-white;
    .toogle-bars {
      display: block;
    }

    .menu-collapsec {

      &.collapse.inc {
        border-top: 1px solid $gray-light;
        display: block;
        margin-top: 10px;
      }
    }
  }
}
